@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
:root {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  --background-1: #303f9f;
  --background-2: #ffffff;
  --text-1: #ffffff;
  --text-2: #303f9f;
  --background-3: #3f51b5;
  --background-4: #c5cae9;
  --background-5: #b53e50;
}

* {
  transition: background-color 1s ease;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  transition: color 1s ease;
}
.blue {
  --background-1: #303f9f;
  --background-2: #ffffff;
  --text-1: #ffffff;
  --text-2: #303f9f;
  --background-3: #3f51b5;
  --background-4: #c5cae9;
  --background-5: #b53e50;
}
.orange {
  --background-1: #f57c00;
  --background-2: #ffffff;
  --text-1: #ffffff;
  --text-2: #f57c00;
  --background-3: #ff9800;
  --background-4: #ffe0b2;
  --background-5: #3974cc;
}
.gray {
  --background-1: #455a64;
  --background-2: #ffffff;
  --text-1: #ffffff;
  --text-2: #455a64;
  --background-3: #607d8b;
  --background-4: #cfd8dc;
  --background-5: #00bcd4;
}
.cyan {
  --background-1: #0097a7;
  --background-2: #ffffff;
  --text-1: #ffffff;
  --text-2: #0097a7;
  --background-3: #00bcd4;
  --background-4: #b2ebf2;
  --background-5: #d44d3c;
}

body {
  background: var(--background-1);
}
#app {
  background-color: var(--background-1);
  padding: 2rem;
}
/* city name */
h1 {
  font-weight: 700;
  font-size: 2.625em;
}
/* tempreture */
h2 {
  font-weight: 700;
  font-size: 5.5em;
}
/* weather description */
h3 {
  font-weight: 500;
  font-size: 1.375em;
}
/* component title */
h4 {
  color: var(--text-2);
  margin: 5px;
  font-weight: 700;
  font-size: 1em;
}
/* grid comtainer */
.grid-element {
  border: 1px solid var(--background-2);
  border-radius: 25px;
}
.bg-1 {
  background-color: var(--background-1);
}
.bg-2 {
  background-color: var(--background-2);
}
.bg-3 {
  background-color: var(--background-3);
}
.bg-4 {
  background-color: var(--background-4);
}
.bg-5 {
  background-color: var(--background-5);
}
.t-1 {
  color: var(--text-1);
}
.t-2 {
  color: var(--text-2);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
